In [2]:
import os
import pandas as pd

In [4]:
data_path = os.path.join("..", "data", "01_raw")

What are the files in the data folder ?

In [15]:
list_files = os.listdir(data_path)
list_files

['pr_maize_test.parquet',
 'pr_maize_train.parquet',
 'pr_wheat_test.parquet',
 'pr_wheat_train.parquet',
 'rsds_maize_test.parquet',
 'rsds_maize_train.parquet',
 'rsds_wheat_test.parquet',
 'rsds_wheat_train.parquet',
 'sample_submission.csv',
 'soil_co2_maize_test.parquet',
 'soil_co2_maize_train.parquet',
 'soil_co2_wheat_test.parquet',
 'soil_co2_wheat_train.parquet',
 'tasmax_maize_test.parquet',
 'tasmax_maize_train.parquet',
 'tasmax_wheat_test.parquet',
 'tasmax_wheat_train.parquet',
 'tasmin_maize_test.parquet',
 'tasmin_maize_train.parquet',
 'tasmin_wheat_test.parquet',
 'tasmin_wheat_train.parquet',
 'tas_maize_test.parquet',
 'tas_maize_train.parquet',
 'tas_wheat_test.parquet',
 'tas_wheat_train.parquet',
 'train_solutions_maize.parquet',
 'train_solutions_wheat.parquet']

Training data (1982-2020)
- For each crop (maize and wheat)
    - Five files containing climate variables from 30 days before and 210 days after planting date
        - rsds - daily short-wave radiation
        - pr - daily precipitation
        - tas - daily mean temperature
        - tmax - daily maximum temperature
        - tmin - daily minimum temperature
        - One “solutions” file containing the target variable (yield)
    - Soil
        - One file containing soil texture, real year, nitrogen fertilization rate and CO2 concentration

Test data (2021-2098)
- For each crop (maize and wheat)
    - Five files containing climate variables from 30 days before and 210 days after planting date
        - rsds - daily short-wave radiation
        - pr - daily precipitation
        - tas - daily mean temperature
        - tmax - daily maximum temperature
        - tmin - daily minimum temperature
    - Soil
        - One file containing soil texture, real year, nitrogen fertilization rate and CO2 concentration

sample_submission.csv - an example of how your submitted predictions file should look ==> No need to use this file

---

What does the yield file looks like? What's its shape and what are the statistics of the yields?

In [9]:
train_solutions_maize_df = pd.read_parquet(os.path.join(data_path, 'train_solutions_maize.parquet'))

In [11]:
print(f"train_solutions_maize_df")
print(f"\nShape: {train_solutions_maize_df.shape}")
train_solutions_maize_df.describe()

train_solutions_maize_df

Shape: (349719, 1)

               yield
count  349719.000000
mean        3.695721
std         2.747027
min         0.000000
25%         1.654000
50%         2.842000
75%         4.978000
max        23.496000

In [12]:
train_solutions_wheat_df = pd.read_parquet(os.path.join(data_path, 'train_solutions_wheat.parquet'))

In [13]:
print(f"train_solutions_wheat_df")
print(f"\nShape: {train_solutions_wheat_df.shape}")
train_solutions_wheat_df.describe()

train_solutions_wheat_df

Shape: (278747, 1)

               yield
count  278747.000000
mean        2.805196
std         1.903385
min         0.000000
25%         1.540000
50%         2.468000
75%         3.594000
max        13.935000

==> The Y variable to predict, need to join with other tables

---

Does all the data files for each crops have the same number of lines?

In [21]:
def check_file_line_count(list_files, suffix):
    line_counts = []
    for file in list_files:
        if file.endswith(suffix):
            try:
                df = pd.read_parquet(os.path.join(data_path, file))
                line_counts.append(len(df))
                del df
            except Exception as e:
                print(f"Error reading file {file}: {e}")
    return line_counts

files_suffixes = ['maize_test.parquet', 'maize_train.parquet', 'wheat_test.parquet', 'wheat_train.parquet']
for suffix in files_suffixes:
    line_counts = check_file_line_count(list_files, suffix)
    if len(set(line_counts)) == 1:
        print(f"All files ending with {suffix} have the same number of lines.")
    else:
        print(f"Files ending with {suffix} do not all have the same number of lines.")

All files ending with maize_test.parquet have the same number of lines.
All files ending with maize_train.parquet have the same number of lines.
All files ending with wheat_test.parquet have the same number of lines.
All files ending with wheat_train.parquet have the same number of lines.

==> They can be joinded on the 'id' column

---

What are the columns that are different from train and test sets?

In [24]:
# Load train and test DataFrames
train_df = pd.read_parquet(os.path.join(data_path, 'pr_wheat_train.parquet'))
test_df = pd.read_parquet(os.path.join(data_path, 'pr_wheat_test.parquet'))

# Find the difference in column names
diff_cols = set(train_df.columns) ^ set(test_df.columns)

print(f"Columns that are in train but not in test: {diff_cols & set(train_df.columns)}")
print(f"Columns that are in test but not in train: {diff_cols & set(test_df.columns)}")

del train_df
del test_df

Columns that are in train but not in test: set()
Columns that are in test but not in train: set()

---

For example, for wheat training, what does the 5 files of daily data looks like?

In [34]:
for file in list_files:
    if file.endswith('wheat_train.parquet'):
        if file.startswith('soil_co2')==False:
            df = pd.read_parquet(os.path.join(data_path, file))
            print(file)
            print(df.describe())
            del df

pr_wheat_train.parquet
                year            lon            lat              0  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean      399.924627      18.953007      35.781651       0.000027
std        11.301375      71.029895      25.641007       0.000073
min       381.000000    -123.250000     -41.250000       0.000000
25%       390.000000      -5.750000      34.750000       0.000000
50%       400.000000      27.250000      43.750000       0.000000
75%       410.000000      66.750000      51.250000       0.000017
max       419.000000     152.750000      64.750000       0.002682

                   1              2              3              4  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean        0.000026       0.000026       0.000027       0.000027
std         0.000070       0.000072       0.000072       0.000075
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000017       0.000017       0.000017       0.000017
max         0.002892       0.002309       0.002404       0.003275

                   5              6  ...            230            231  \
count  278747.000000  278747.000000  ...  278747.000000  278747.000000
mean        0.000026       0.000027  ...       0.000023       0.000021
std         0.000069       0.000075  ...       0.000061       0.000059
min         0.000000       0.000000  ...       0.000000       0.000000
25%         0.000000       0.000000  ...       0.000000       0.000000
50%         0.000000       0.000000  ...       0.000000       0.000000
75%         0.000017       0.000018  ...       0.000016       0.000014
max         0.002417       0.003539  ...       0.001496       0.002132

                 232            233            234            235  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean        0.000020       0.000021       0.000022       0.000022
std         0.000057       0.000058       0.000061       0.000062
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000012       0.000013       0.000015       0.000015
max         0.001407       0.002091       0.002519       0.002539

                 236            237            238            239
count  278747.000000  278747.000000  278747.000000  278747.000000
mean        0.000021       0.000021       0.000022       0.000022
std         0.000058       0.000060       0.000062       0.000061
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000014       0.000015       0.000015       0.000015
max         0.002051       0.002450       0.002311       0.001884

[8 rows x 243 columns]
rsds_wheat_train.parquet
                year            lon            lat              0  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean      399.924627      18.953007      35.781651     187.214164
std        11.301375      71.029895      25.641007      65.038185
min       381.000000    -123.250000     -41.250000       4.688900
25%       390.000000      -5.750000      34.750000     142.898880
50%       400.000000      27.250000      43.750000     197.317690
75%       410.000000      66.750000      51.250000     238.529640
max       419.000000     152.750000      64.750000     390.095250

                   1              2              3              4  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean      186.052118     184.655643     182.551844     180.558739
std        64.415914      64.099911      64.334881      64.819658
min         6.507026       4.665612       4.704186       5.051822
25%       141.295765     140.892305     137.997885     134.255205
50%       195.903490     194.816850     192.321600     190.642040
75%       236.687135     234.563030     233.169225     232.219140
max       387.383000     384.946200     381.086640     374.888900

                   5              6  ...            230            231  \
count  278747.000000  278747.000000  ...  278747.000000  278747.000000
mean      178.556602     177.155438  ...     211.295453     215.153813
std        64.697544      64.876105  ...      80.956545      79.646069
min         6.904032       3.732408  ...      13.812212      11.916901
25%       132.030815     130.133410  ...     148.791480     154.450560
50%       188.169220     186.505310  ...     216.255170     219.977870
75%       230.061155     228.777680  ...     275.174910     277.641925
max       380.073430     398.428620  ...     408.014430     407.781000

                 232            233            234            235  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean      217.337185     217.831380     218.486674     219.638451
std        80.864547      79.838660      79.716388      80.154042
min        11.042832      12.055643       4.636113      10.359878
25%       156.803850     158.140910     159.951705     160.525395
50%       223.596900     222.832690     224.441100     226.073760
75%       280.797370     280.860415     280.265920     282.509735
max       406.238530     404.812900     404.890400     407.267640

                 236            237            238            239
count  278747.000000  278747.000000  278747.000000  278747.000000
mean      220.997861     221.774051     222.698556     224.374088
std        79.137736      79.085533      79.655728      79.186730
min         9.504890      13.830783       6.141116      14.054949
25%       163.939950     165.028900     165.832360     167.621815
50%       226.066060     227.558910     229.278700     231.608380
75%       283.104150     283.023955     284.571045     285.886995
max       406.400400     406.571350     405.369600     405.090670

[8 rows x 243 columns]
tasmax_wheat_train.parquet
                year            lon            lat              0  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean      399.924627      18.953007      35.781651      24.792753
std        11.301375      71.029895      25.641007       5.907214
min       381.000000    -123.250000     -41.250000      -0.810760
25%       390.000000      -5.750000      34.750000      20.643189
50%       400.000000      27.250000      43.750000      25.149567
75%       410.000000      66.750000      51.250000      29.077790
max       419.000000     152.750000      64.750000      48.428986

                   1              2              3              4  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean       24.722607      24.604137      24.486543      24.396324
std         5.920187       5.929755       5.927047       5.938623
min        -1.103027      -2.374481      -1.778137      -1.035675
25%        20.617370      20.497986      20.342621      20.220871
50%        25.063019      24.882202      24.767487      24.699127
75%        29.016952      28.888977      28.721466      28.672424
max        47.326233      46.869904      47.231262      46.382965

                   5              6  ...            230            231  \
count  278747.000000  278747.000000  ...  278747.000000  278747.000000
mean       24.257418      24.098172  ...      16.161764      16.397567
std         5.966979       5.994372  ...      11.148241      11.126784
min        -1.350647      -1.080353  ...     -28.153854     -31.437150
25%        20.037858      19.849244  ...       8.638062       8.918243
50%        24.546509      24.371277  ...      16.901093      17.208770
75%        28.618226      28.502533  ...      24.345596      24.488616
max        46.383667      46.104828  ...      48.746033      47.455720

                 232            233            234            235  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean       16.642173      16.901591      17.137849      17.306463
std        11.076803      10.951181      10.806016      10.699957
min       -27.524216     -28.167175     -26.731201     -27.140656
25%         9.177247       9.680893      10.082321      10.462280
50%        17.435974      17.748016      17.894897      18.059113
75%        24.713303      24.815537      24.935592      25.054871
max        48.216858      47.540650      47.310455      49.530884

                 236            237            238            239
count  278747.000000  278747.000000  278747.000000  278747.000000
mean       17.462812      17.714526      17.946692      18.172581
std        10.672025      10.544739      10.409654      10.343292
min       -28.693237     -27.224716     -29.005570     -27.733688
25%        10.594559      10.827652      11.181045      11.311829
50%        18.200623      18.403229      18.540405      18.718048
75%        25.281509      25.437866      25.667755      25.803940
max        47.962616      47.517242      46.559480      46.986237

[8 rows x 243 columns]
tasmin_wheat_train.parquet
                year            lon            lat              0  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean      399.924627      18.953007      35.781651      13.087903
std        11.301375      71.029895      25.641007       5.178063
min       381.000000    -123.250000     -41.250000     -12.061462
25%       390.000000      -5.750000      34.750000       9.617004
50%       400.000000      27.250000      43.750000      12.940247
75%       410.000000      66.750000      51.250000      16.516419
max       419.000000     152.750000      64.750000      30.246948

                   1              2              3              4  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean       13.038441      12.902823      12.781905      12.681403
std         5.164129       5.200218       5.209027       5.232475
min       -10.802551     -12.321594     -11.836517     -10.864380
25%         9.575226       9.417633       9.346176       9.254654
50%        12.897308      12.783813      12.655060      12.563995
75%        16.472382      16.378402      16.242905      16.146957
max        29.967560      30.076538      29.615906      30.905792

                   5              6  ...            230            231  \
count  278747.000000  278747.000000  ...  278747.000000  278747.000000
mean       12.598530      12.474821  ...       4.830532       4.979768
std         5.272003       5.301796  ...      10.053982      10.000564
min        -9.867157      -9.882904  ...     -42.067870     -44.344254
25%         9.074524       8.960175  ...      -1.030701      -0.930771
50%        12.533173      12.381195  ...       5.895874       6.056549
75%        16.097702      15.987595  ...      11.715851      11.823700
max        30.419464      29.481567  ...      32.181274      33.406950

                 232            233            234            235  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean        5.119200       5.334827       5.551777       5.726171
std         9.955976       9.836474       9.704550       9.634407
min       -43.323166     -43.425217     -44.255173     -44.483902
25%        -0.870300      -0.683044      -0.313980      -0.014557
50%         6.136780       6.357819       6.544891       6.685883
75%        12.013108      12.083756      12.183167      12.275361
max        35.488617      33.118347      33.048280      32.383057

                 236            237            238            239
count  278747.000000  278747.000000  278747.000000  278747.000000
mean        5.844486       6.074949       6.365376       6.510431
std         9.633478       9.432933       9.232585       9.169876
min       -45.364334     -42.763184     -41.517914     -40.434723
25%         0.122849       0.392181       0.712463       0.669067
50%         6.830017       7.004669       7.125732       7.250092
75%        12.394776      12.492539      12.751144      12.894699
max        33.298157      34.315370      32.968964      32.984467

[8 rows x 243 columns]
tas_wheat_train.parquet
                year            lon            lat              0  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean      399.924627      18.953007      35.781651      18.740593
std        11.301375      71.029895      25.641007       5.153582
min       381.000000    -123.250000     -41.250000      -4.954803
25%       390.000000      -5.750000      34.750000      15.134048
50%       400.000000      27.250000      43.750000      18.861755
75%       410.000000      66.750000      51.250000      22.400360
max       419.000000     152.750000      64.750000      37.396120

                   1              2              3              4  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean       18.667077      18.540693      18.412883      18.323382
std         5.158197       5.185457       5.202527       5.208710
min        -2.791626      -4.100769      -5.639313      -4.081512
25%        15.067642      14.907440      14.799805      14.668732
50%        18.797241      18.630493      18.506440      18.422394
75%        22.324692      22.240249      22.089813      21.999481
max        37.703186      37.258360      36.563630      35.975525

                   5              6  ...            230            231  \
count  278747.000000  278747.000000  ...  278747.000000  278747.000000
mean       18.205532      18.053906  ...      10.450965      10.647556
std         5.240800       5.277829  ...      10.233470      10.209887
min        -3.851868      -4.637756  ...     -34.085785     -37.222443
25%        14.511536      14.382919  ...       3.887543       4.101914
50%        18.297241      18.083557  ...      11.333984      11.581879
75%        21.952728      21.812897  ...      17.729508      17.883164
max        36.409880      36.261720  ...      39.102110      40.165405

                 232            233            234            235  \
count  278747.000000  278747.000000  278747.000000  278747.000000
mean       10.856056      11.095195      11.330666      11.507829
std        10.160789      10.047111       9.883801       9.789388
min       -34.375916     -33.878082     -35.341140     -35.065445
25%         4.229477       4.615310       5.068268       5.446136
50%        11.752869      12.041138      12.163452      12.306641
75%        18.124527      18.211014      18.317597      18.400131
max        41.407593      39.911346      39.645140      39.826935

                 236            237            238            239
count  278747.000000  278747.000000  278747.000000  278747.000000
mean       11.633806      11.883979      12.139931      12.341416
std         9.758073       9.578454       9.428119       9.366689
min       -35.234390     -34.330185     -33.102234     -33.851532
25%         5.592438       5.863388       6.122787       6.245712
50%        12.456390      12.606079      12.739105      12.874603
75%        18.522659      18.694809      18.934967      19.172272
max        39.961640      39.775604      38.801147      38.763733

[8 rows x 243 columns]

What does the file for CO2, soil, real year and fertilizers looks like?

In [29]:
df = pd.read_parquet(os.path.join(data_path, 'soil_co2_wheat_train.parquet'))
df_descr = df.describe()
del df
df_descr

,year,lon,lat,texture_class,real_year,co2,nitrogen
count,278747.000000,278747.000000,278747.000000,278747.000000,278747.000000,278747.000000,278747.000000
mean,399.924627,18.953007,35.781651,7.926331,2000.925122,373.029780,83.143082
std,11.301375,71.029895,25.641007,2.432679,11.301383,21.295426,74.992844
min,381.000000,-123.250000,-41.250000,1.000000,1982.000000,340.790000,4.212000
25%,390.000000,-5.750000,34.750000,7.000000,1991.000000,355.020000,5.351000
50%,400.000000,27.250000,43.750000,9.000000,2001.000000,370.470000,78.544998
75%,410.000000,66.750000,51.250000,9.000000,2011.000000,390.490000,105.491997
max,419.000000,152.750000,64.750000,13.000000,2020.000000,414.890000,317.987000